[Desktop Entry]
Type=Application
Name=RPG Maker Game Launcher
Comment=Run Windows RPG Maker MV/MZ games natively
Exec=rpgm %f
Icon=applications-games
Categories=Game;
MimeType=application/x-ms-dos-executable;application/x-msdownload;application/vnd.microsoft.portable-executable;
NoDisplay=true
Terminal=false
